$color-primary: #f40d0d;
$color-primary-hover: #c90000;
$color-light: #f2f2f2;
$color-dark: #404040;
$color-gray-light: #bfbfbf;
$color-gray: #8c8c8c;


@mixin fontQuicksand {
	font-family: 'Quicksand', sans-serif !important;
}
