$color-primary: #f40d0d;
$color-primary-hover: #c90000;
$color-light: #f2f2f2;
$color-light-2: #f8f7f7;
$color-dark: #404040;
$color-gray-dark: #5e5e5e;
$color-gray-light: #bfbfbf;
$color-gray: #8c8c8c;
$color-primary-light: rgb(252, 35, 35);
$color-primary-light-2: rgb(255, 85, 62);


@mixin fontQuicksand {
	font-family: 'Quicksand', sans-serif !important;
}
