@charset "utf-8";

@import './include/common.scss';

@import './include/header.scss';

@import './include/home.scss';

@import './include/blog.scss';

@import './include/newsletter.scss';

@import './include/footer.scss';


/******************************
1. Fonts
2. Body and some general stuff
3. Header
4. Home
5. Single Blog
6. Blog
7. Newsletter
8. Footer
******************************/

/*********************************
4. Home Override
*********************************/

.home {
  height: 460px;
  margin-top: -1px;
}

/*********************************
5. Single Blog
*********************************/

.single_post {
  padding-top: 85px;
}

.single_post_title {
  font-size: 30px;
  font-weight: 500;
}

.single_post_text {
  margin-top: 33px;
  p {
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
    line-height: 2;
    &:not(:first-of-type) {
      margin-top: 42px;
    }
  }
}

.single_post_quote {
  margin-top: 43px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 35px;
  padding-bottom: 40px;
}

.quote_image {}

.quote_text {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 28px;
  line-height: 1.875;
}

.quote_name {
  font-size: 16px;
  font-weight: 500;
  margin-top: 23px;
}
