@import './include/common.scss';

@import './include/header.scss';

@import './include/newsletter.scss';

@import './include/footer.scss';


/******************************
Common
Header
Contact
Newsletter
Footer
******************************/



/*********************************
Contact
	Form
	Map
*********************************/

.contact_info {
  width: 100%;
  padding-top: 70px;
}

.contact_info_item {
  width: calc((100% - 60px) / 3);
  height: 100px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-left: 32px;
  padding-right: 15px;
}

.contact_info_image {
  width: 35px;
  height: 35px;
  text-align: center;
  img {
    max-width: 100%;
  }
}

.contact_info_content {
  padding-left: 17px;
}

.contact_info_title {
  font-weight: 500;
}

.contact_info_text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

/*********************************
Contact Form
*********************************/

.contact_form {
  padding-top: 85px;
}

.contact_form_title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 37px;
}

.contact_form_inputs {
  margin-bottom: 30px;
}

.input_field {
  width: calc((100% - 60px) / 3);
  height: 50px;
  padding-left: 25px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  outline: none;
  color: $color-dark;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  &:focus {
    border-color: #b2b2b2;
  }
}

.text_field:focus, .input_field:hover, .text_field:hover {
  border-color: #b2b2b2;
}

.input_field::-webkit-input-placeholder, .text_field::-webkit-input-placeholder, .input_field:-moz-placeholder, .text_field:-moz-placeholder, .input_field::-moz-placeholder, .text_field::-moz-placeholder, .input_field:-ms-input-placeholder, .text_field:-ms-input-placeholder, .input_field::input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.text_field {
	width: 100%;
  height: 160px;
  padding-left: 25px;
  padding-top: 15px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  color: $color-primary;
  outline: none;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  &::input-placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
  }
}

.contact_submit_button {
  padding-left: 35px;
  padding-right: 35px;
  color: #FFFFFF;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 24px;
}

.panel {
  width: 100%;
  height: 50px;
  background: #fafafa;
  margin-top: 120px;
}

/*********************************
Contact Map
*********************************/

.contact_map {
  width: 100%;
}

.google_map {
  width: 100%;
  height: 400px;
}

.map_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map {
  width: 100%;
  height: calc(100% + 30px);
}
