@charset "utf-8";
@import './include/common.scss';
@import './include/header.scss';

/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Header Main
	3.3 Main Navigation
	3.4 Page Menu
4. Home
5. Single Product
6. Recently Viewed
7. Brands
8. Newsletter
9. Footer


******************************/

/*********************************
4. Home
*********************************/

.home {
  width: 100%;
  height: 260px;
  background: transparent;
}

.home_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #cde4f1;
  background: linear-gradient(#FFFFFF, #cde4f1);
  opacity: 0.9;
}

.home_content {
  width: 100%;
  height: 100%;
}

/*********************************
5. Single Product
*********************************/

.single_product {
  padding-top: 110px;
  padding-bottom: 140px;
}

.image_list li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 165px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  cursor: pointer;
  padding: 15px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  overflow: hidden;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  }
  img {
    max-width: 100%;
  }
}

.image_selected {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% + 15px);
  height: 525px;
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  transform: translateX(-15px);
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px;
  img {
    max-width: 100%;
  }
}

.product_description {
  padding-left: 50px;
}

.product_category {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.product_name {
  font-size: 30px;
  font-weight: 500;
  margin-top: 11px;
}

.product_rating {
  margin-top: 7px;
  i {
    margin-right: 4px;
    &::before {
      font-size: 13px;
    }
  }
}

.product_text {
  margin-top: 27px;
  p:last-child {
    margin-bottom: 0px;
  }
}

.order_info {
  margin-top: 53px;
}

.product_quantity {
  width: 182px;
  height: 50px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  overflow: hidden;
  padding-left: 25px;
  float: left;
  margin-right: 30px;
  span {
    display: block;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    line-height: 50px;
    float: left;
  }
  input {
    display: block;
    width: 30px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    padding-left: 9px;
    line-height: 50px;
    float: left;
  }
}

.quantity_buttons {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 29px;
  border-left: solid 1px #e5e5e5;
}

.quantity_inc, .quantity_dec {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
  cursor: pointer;
}

.quantity_control {
  i {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
  }
  &:active {
    border: solid 1px rgba(14, 140, 228, 0.2);
  }
}

.quantity_inc {
  padding-bottom: 2px;
  justify-content: flex-end;
  border-top-right-radius: 5px;
}

.quantity_dec {
  padding-top: 2px;
  justify-content: flex-start;
  border-bottom-right-radius: 5px;
}

.product_color {
  width: 182px;
  height: 50px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  float: left;
  cursor: pointer;
  span {
    display: block;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    line-height: 50px;
    float: left;
  }
}

.color_dropdown_button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  i {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
  }
}

.color_mark_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 48px;
  float: right;
}

.color_mark {
  width: 20px;
  height: 20px;
  background: #999999;
  border-radius: 50%;
}

.product_color {
  > li {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-right: 49px;
  }
  li ul {
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: auto;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    li {
      padding-right: 49px;
      padding-left: 49px;
      padding-top: 10px;
      padding-bottom: 10px;
      div {
        margin-left: auto;
      }
    }
  }
  > li:hover ul {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }
}

.product_price {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  margin-top: 75px;
  clear: left;
}

.button_container {
  margin-top: 43px;
}

.cart_button {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.product_fav {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-left: 36px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  &:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  }
  i {
    line-height: 36px;
    color: #cccccc;
  }
  &.active i {
    color: #df3b3b;
  }
}

/*********************************
6. Recently Viewed
*********************************/

.viewed {
  padding-top: 51px;
  padding-bottom: 60px;
  background: #eff6fa;
}

.viewed_title_container {
  border-bottom: solid 1px #dadada;
}

.viewed_title {
  margin-bottom: 14px;
}

.viewed_nav_container {
  position: absolute;
  right: -5px;
  bottom: 14px;
}

.viewed_nav {
  display: inline-block;
  cursor: pointer;
  i {
    color: #dadada;
    font-size: 18px;
    padding: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  &:hover i {
    color: #606264;
  }
}

.viewed_prev {
  margin-right: 15px;
}

.viewed_slider_container {
  padding-top: 50px;
}

.viewed_item {
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.viewed_image {
  width: 115px;
  height: 115px;
  img {
    display: block;
    max-width: 100%;
  }
}

.viewed_content {
  width: 100%;
  margin-top: 25px;
}

.viewed_price {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.viewed_item.discount .viewed_price {
  color: #df3b3b;
}

.viewed_price span {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 8px;
  &::after {
    display: block;
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: 1px;
    background: #8d8d8d;
    content: '';
  }
}

.viewed_name {
  margin-top: 3px;
  a {
    font-size: 14px;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    &:hover {
      color: #0e8ce4;
    }
  }
}

.item_marks {
  position: absolute;
  top: 18px;
  left: 18px;
}

.item_mark {
  display: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}

.item_discount {
  background: #df3b3b;
  margin-right: 5px;
}

.item_new {
  background: #0e8ce4;
}

.viewed_item {
  &.discount .item_discount, &.is_new .item_new {
    display: inline-block;
  }
}

/*********************************
7. Brands
*********************************/

.brands {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
}

.brands_slider_container {
  height: 130px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-left: 97px;
  padding-right: 97px;
}

.brands_slider {
  height: 100%;
}

.brands_item {
  height: 100%;
  img {
    max-width: 100%;
  }
}

.brands_nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
  i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  &:hover i {
    color: #676767;
  }
}

.brands_prev {
  left: 40px;
}

.brands_next {
  right: 40px;
}

/*********************************
8. Newsletter
*********************************/

.newsletter {
  width: 100%;
  background: #fafafa;
  padding-top: 60px;
  padding-bottom: 60px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.newsletter_container {
  width: 100%;
}

.newsletter_title_container {
  width: 40%;
  padding-left: 95px;
}

.newsletter_icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.newsletter_title {
  font-size: 18px;
  color: #000000;
}

.newsletter_text p:last-child {
  margin-bottom: 0;
}

.newsletter_icon img {
  max-width: 100%;
}

.newsletter_content {
  width: 60%;
}

.newsletter_form {
  position: relative;
  width: 569px;
  float: left;
}

.newsletter_input {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  padding-left: 25px;
  font-size: 16px;
  outline: none;
  color: #0e8ce4;
  &:focus {
    border: solid 1px rgba(14, 140, 228, 0.3);
    box-shadow: 0px 1px 5px rgba(14, 140, 228, 0.3);
  }
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::input-placeholder {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
  }
}

.newsletter_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 153px;
  height: 50px;
  background: #0e8ce4;
  color: #FFFFFF;
  line-height: 50px;
  font-size: 18px;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.newsletter_unsubscribe_link {
  float: right;
  text-align: right;
  height: 50px;
  a {
    font-size: 10px;
    color: #0e8ce4;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 50px;
    &:hover {
      color: #0d82d3;
    }
  }
}

/*********************************
9. Footer
*********************************/

.footer {
  padding-top: 52px;
  padding-bottom: 40px;
  .logo_container {
    height: auto;
    margin-bottom: 18px;
    margin-top: -10px;
  }
  .logo {
    top: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    a {
      color: #000000;
    }
  }
}

.footer_title {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.footer_phone {
  font-size: 18px;
  font-weight: 500;
  color: #0e8ce4;
  margin-top: 13px;
}

.footer_contact_text {
  margin-top: 10px;
  p {
    margin-bottom: 0px;
  }
}

.footer_social {
  margin-top: 27px;
  ul li {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #fafafa;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    margin-right: 16px;
    text-align: center;
    i {
      color: #000000;
      line-height: 30px;
      -webkit-transition: all 200ms ease;
      -moz-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease;
    }
    &:hover i {
      color: #0e8ce4;
    }
  }
}

.footer_subtitle {
  font-size: 12px;
  color: #000000;
}

.footer_column ul {
  &:first-of-type {
    margin-top: 21px;
  }
  margin-top: 7px;
}

.footer_list li {
  margin-bottom: 6px;
  a {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    &:hover {
      color: #0e8ce4;
    }
  }
}

.footer_list_2 {
  margin-top: 42px !important;
}

.copyright {
  width: 100%;
  background: #fafafa;
}

.copyright_container {
  width: 100%;
  height: 56px;
}

.copyright_content {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  span {
    font-weight: 500;
  }
}

.logos {}

.logos_list li {
  display: inline-block;
  margin-right: 16px;
  &:last-child {
    margin-right: 0px;
  }
}
