<!DOCTYPE html>
<html lang="en">

<head>
  <title>Diễn đàn công nghệ</title>

  ${require('../layouts/include/meta.html')}
  ${require('../layouts/include/stylesheet.html')}
  ${require('../layouts/include/stylesheet_plugins.html')}

</head>

<body>

  ${require('../layouts/include/top_body.html')}

  <div class="super_container">

    <!-- Header -->

    ${require('../layouts/header.html')}

    <!-- Home -->

    <div class="home">
      <div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/shop_background.jpg"></div>
      <div class="home_overlay"></div>
      <div class="home_content d-flex flex-column align-items-center justify-content-center">
        <h2 class="home_title">DIỄN ĐÀN CÔNG NGHỆ</h2>
      </div>
    </div>

    <!-- Blog -->

    <div class="blog">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="blog_posts d-flex flex-row align-items-start justify-content-between">

              <!-- Blog post -->
              <div class="blog_post">
                <div class="blog_image" style="background-image:url(images/blog_1.jpg)"></div>
                <div class="blog_text">Có thể chi tiết nhỏ này sẽ giúp bạn suy đoán liệu Apple có thực sự bị cài chip nghe lén của Trung Quốc hay không</div>
                <div class="blog_button"><a href="blog_single.html">Đọc tiếp</a></div>
              </div>

              <!-- Blog post -->
              <div class="blog_post">
                <div class="blog_image" style="background-image:url(images/blog_2.jpg)"></div>
                <div class="blog_text">Ảnh thực tế Samsung Galaxy A9 (2018) và Galaxy A7 vừa ra mắt: Thiết kế gọn, màu Gradient đẹp mắt, nhiều camera tốt</div>
                <div class="blog_button"><a href="blog_single.html">Đọc tiếp</a></div>
              </div>

              <!-- Blog post -->
              <div class="blog_post">
                <div class="blog_image" style="background-image:url(images/blog_3.jpg)"></div>
                <div class="blog_text">Lộ video trên tay Xiaomi BlackShark 2, thiết kế mới cao cấp hơn, đèn đóm quẩy nhiệt tình</div>
                <div class="blog_button"><a href="blog_single.html">Đọc tiếp</a></div>
              </div>

              <!-- Blog post -->
              <div class="blog_post">
                <div class="blog_image" style="background-image:url(images/blog_4.jpg)"></div>
                <div class="blog_text">Samsung đá xoáy thiết kế “tai trâu” của Google Pixel 3 XL: to thế thì đỗ được cả máy bay lên đấy</div>
                <div class="blog_button"><a href="blog_single.html">Đọc tiếp</a></div>
              </div>

              <!-- Blog post -->
              <div class="blog_post">
                <div class="blog_image" style="background-image:url(images/blog_5.jpg)"></div>
                <div class="blog_text">Nokia 3.1 Plus ra mắt: MediaTek Helio P22, camera kép, giá từ 3,6 triệu đồng</div>
                <div class="blog_button"><a href="blog_single.html">Đọc tiếp</a></div>
              </div>

              <!-- Blog post -->
              <div class="blog_post">
                <div class="blog_image" style="background-image:url(images/blog_6.jpg)"></div>
                <div class="blog_text">Galaxy S9/S9+ sẽ có thêm nhiều tính năng AI camera thú vị sau khi nâng cấp lên Android 9 Pie</div>
                <div class="blog_button"><a href="blog_single.html">Đọc tiếp</a></div>
              </div>

              <!-- Blog post -->
              <div class="blog_post">
                <div class="blog_image" style="background-image:url(images/blog_7.jpg)"></div>
                <div class="blog_text">Samsung Galaxy A9 (2018) ra mắt: smartphone đầu tiên trên thế giới có 4 camera sau</div>
                <div class="blog_button"><a href="blog_single.html">Đọc tiếp</a></div>
              </div>

              <!-- Blog post -->
              <div class="blog_post">
                <div class="blog_image" style="background-image:url(images/blog_8.jpg)"></div>
                <div class="blog_text">Những lý do để bạn “lên đời” với iPhone XS hay iPhone XS Max ngay từ lúc này!</div>
                <div class="blog_button"><a href="blog_single.html">Đọc tiếp</a></div>
              </div>

              <!-- Blog post -->
              <div class="blog_post">
                <div class="blog_image" style="background-image:url(images/blog_9.jpg)"></div>
                <div class="blog_text">Huawei Mate 20 Pro lộ toàn bộ thông số và giá bán</div>
                <div class="blog_button"><a href="blog_single.html">Đọc tiếp</a></div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Newsletter -->

    ${require('../layouts/newsletter.html')}

    <!-- Footer -->

    ${require('../layouts/footer.html')}

    <!-- Copyright -->

    ${require('../layouts/copyright.html')}
  </div>


  ${require('../layouts/include/script.html')}
  ${require('../layouts/include/script_plugins.html')}

</body>

</html>
