<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cart</title>

  ${require('../layouts/include/meta.html')}
  ${require('../layouts/include/stylesheet.html')}

</head>

<body>

  <div class="super_container">

    <!-- Header -->

    ${require('../layouts/header.html')}

    <!-- Cart -->

    <div class="cart_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="cart_container">
              <div class="cart_title">Giỏ hàng của bạn</div>
              <div class="cart_items">
                <ul class="cart_list">

                  <p class="cart_list_empty">Hiện tại chưa có sản phẩm nào trong giỏ hàng.</p>

                  <li class="cart_item clearfix">
                    <div class="cart_item_image cart_item_image_empty"></div>
                    <div class="cart_item_info row">
                      <div class="cart_item_name col-12 col-md-5">
                        <div class="cart_item_text font-weight-bold">Tên sản phẩm</div>
                      </div>
                      <div class="cart_item_color col-12 col-md-2">
                        <div class="cart_item_text font-weight-bold">Màu</div>
                      </div>
                      <div class="cart_item_price col-12 col-md-2">
                        <div class="cart_item_text font-weight-bold">Đơn giá</div>
                      </div>
                      <div class="cart_item_quantity col-12 col-md-1">
                        <div class="cart_item_text font-weight-bold">Số lượng</div>
                      </div>
                      <div class="cart_item_total col-12 col-md-2">
                        <div class="cart_item_text font-weight-bold">Tổng</div>
                      </div>
                    </div>
                  </li>

                  <!-- rendered at Cart.js -->

                </ul>
              </div>

              <!-- Order Total -->
              <div class="order_total">
                <div class="order_total_content text-md-right">
                  <div class="order_total_title">Tổng tiền:</div>
                  <div class="order_total_amount">0 đ</div>
                </div>
              </div>

              <div class="cart_buttons">
                <!-- <button type="button" class="button cart_button_clear">Xoá</button> -->
                <button type="button" class="button cart_button_checkout">Tiến hành thanh toán</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Newsletter -->

    ${require('../layouts/newsletter.html')}

    <!-- Footer -->

    ${require('../layouts/footer.html')}

    <!-- Copyright -->

    ${require('../layouts/copyright.html')}
  </div>


  ${require('../layouts/include/script.html')}
  ${require('../layouts/include/script_plugins.html')}

</body>

</html>
