<!DOCTYPE html>
<html lang="en">

<head>
  <title>OneTech</title>

  ${require('../layouts/include/meta.html')}
  ${require('../layouts/include/stylesheet.html')}
  ${require('../layouts/include/stylesheet_plugins.html')}

</head>

<body>

  <div class="super_container">

    <!-- Header -->

    ${require('../layouts/header.html')}

    <!-- Banner -->

    ${require('../layouts/banner.html')}

    <!-- Characteristics -->

    ${require('../layouts/characteristics.html')}

    <!-- Deals of the week -->

    ${require('../layouts/deals_of_week.html')}

    <!-- Popular Categories -->

    ${require('../layouts/popular_categories.html')}

    <!-- Banner -->

    ${require('../layouts/banner2.html')}

    <!-- Hot New Arrivals -->

    ${require('../layouts/hot_new_arrivals.html')}

    <!-- Best Sellers -->

    ${require('../layouts/best_sellers.html')}

    <!-- Adverts -->

    ${require('../layouts/adverts.html')}

    <!-- Trends -->

    ${require('../layouts/trends.html')}

    <!-- Reviews -->

    ${require('../layouts/reviews.html')}

    <!-- Recently Viewed -->

    ${require('../layouts/recently.html')}

    <!-- Brands -->

    ${require('../layouts/brands.html')}

    <!-- Newsletter -->

    ${require('../layouts/newsletter.html')}

    <!-- Footer -->

    ${require('../layouts/footer.html')}

    <!-- Copyright -->

    ${require('../layouts/copyright.html')}
  </div>


  ${require('../layouts/include/script.html')}
  ${require('../layouts/include/script_plugins.html')}

  <script src="plugins/slick-1.8.0/slick.js"></script>

</body>

</html>
