<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sản phẩm</title>

  ${require('../layouts/include/meta.html')}
  ${require('../layouts/include/stylesheet.html')}
  ${require('../layouts/include/stylesheet_plugins.html')}

</head>

<body>

  ${require('../layouts/include/top_body.html')}

  <div class="super_container">

    <!-- Header -->

    ${require('../layouts/header.html')}

    <!-- Single Product -->

    <div class="single_product">
      <div class="container">
        <div class="row">

          <div class="col-lg-7">
              <div class="slider_image_selected">
                <!-- render at product.js -->
              </div>
              <div class="slider_image_list d-none d-lg-block d-md-block">
                <!-- render at product.js -->
              </div>
          </div>

          <!-- Description -->
          <div class="col-lg-5">
            <div class="product_description">
              <div class="product_category">Apple - iPhone XS</div>
              <div class="product_name">iPhone XS</div>
              <div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div>
              <div class="product_text status">
                <p>Mới</p>
              </div>
              <div class="product_text warranty">
                <p>12 tháng</p>
              </div>
              <div class="order_info d-flex flex-row">
                <form action="#">
                  <div class="clearfix" style="z-index: 1000;">

                    <!-- Product Quantity -->
                    <div class="product_quantity clearfix">
                      <span>Số lượng: </span>
                      <input id="quantity_input" type="text" pattern="[0-9]*" value="1">
                      <div class="quantity_buttons">
                        <div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fas fa-chevron-up"></i></div>
                        <div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fas fa-chevron-down"></i></div>
                      </div>
                    </div>

                    <!-- Product Color -->
                    <!-- <ul class="product_color">
                      <li>
                        <span>Chọn màu: </span>
                        <div class="color_mark_container">
                          <div id="selected_color" class="color_mark"></div>
                        </div>
                        <div class="color_dropdown_button"><i class="fas fa-chevron-down"></i></div>

                        <ul class="color_list">
                          <li>
                            <div class="color_mark" style="background: #df3b3b;"></div>
                          </li>
                          <li>
                            <div class="color_mark" style="background: #999999;"></div>
                          </li>
                          <li>
                            <div class="color_mark" style="background: #b19c83;"></div>
                          </li>
                          <li>
                            <div class="color_mark" style="background: #000000;"></div>
                          </li>
                          <li>
                            <div class="color_mark" style="background: #0e8ce4;"></div>
                          </li>
                          <li>
                            <div class="color_mark" style="background: #ffffff; border: solid 1px #e1e1e1;"></div>
                          </li>
                        </ul>
                      </li>
                    </ul> -->

                  </div>

                  <div class="product_price">12.000.000 đ</div>
                  <div class="button_container">
                    <button type="button" class="button cart_button" id="btn-add-cart">Thêm vào giỏ</button>
                    <div class="product_fav"><i class="fas fa-heart"></i></div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- TechnicalInfo -->
          <div class="col-12 tech-info">
            <h3>Các thông số kĩ thuật</h3>
            <table id="table-tech-info" class="table table-sm table-bordered table-hover">
              <tbody>
                <!-- <tr>
                  <td>Key</td>
                  <td>Value</td>
                </tr> -->
                <!-- render at product.js -->
              </tbody>
            </table>
            <button type="button" class="btn-sm btn-more" data-all="0">Xem thêm</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Recently Viewed -->

    ${require('../layouts/recently.html')}


    <!-- Newsletter -->

    ${require('../layouts/newsletter.html')}

    <!-- Footer -->

    ${require('../layouts/footer.html')}

    <!-- Copyright -->

    ${require('../layouts/copyright.html')}
  </div>


  ${require('../layouts/include/script.html')}
  ${require('../layouts/include/script_plugins.html')}

  <script src="plugins/slick/slick.js"></script>

</body>

</html>
