<!DOCTYPE html>
<html lang="en">

<head>
  <title>Single Product</title>

  ${require('../layouts/include/meta.html')}
  ${require('../layouts/include/stylesheet.html')}
  ${require('../layouts/include/stylesheet_plugins.html')}

</head>

<body>

  <div class="super_container">

    <!-- Header -->

    ${require('../layouts/header.html')}

    <!-- Single Product -->

    <div class="single_product">
      <div class="container">
        <div class="row">

          <!-- Images -->
          <div class="col-lg-2 order-lg-1 order-2">
            <ul class="image_list">
              <li data-image="images/single_4.jpg"><img src="images/single_4.jpg" alt=""></li>
              <li data-image="images/single_2.jpg"><img src="images/single_2.jpg" alt=""></li>
              <li data-image="images/single_3.jpg"><img src="images/single_3.jpg" alt=""></li>
            </ul>
          </div>

          <!-- Selected Image -->
          <div class="col-lg-5 order-lg-2 order-1">
            <div class="image_selected"><img src="images/single_4.jpg" alt=""></div>
          </div>

          <!-- Description -->
          <div class="col-lg-5 order-3">
            <div class="product_description">
              <div class="product_category">Laptops</div>
              <div class="product_name">MacBook Air 13</div>
              <div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div>
              <div class="product_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum. laoreet turpis, nec
                  sollicitudin dolor cursus at. Maecenas aliquet, dolor a faucibus efficitur, nisi tellus cursus urna,
                  eget dictum lacus turpis.</p>
              </div>
              <div class="order_info d-flex flex-row">
                <form action="#">
                  <div class="clearfix" style="z-index: 1000;">

                    <!-- Product Quantity -->
                    <div class="product_quantity clearfix">
                      <span>Quantity: </span>
                      <input id="quantity_input" type="text" pattern="[0-9]*" value="1">
                      <div class="quantity_buttons">
                        <div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fas fa-chevron-up"></i></div>
                        <div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fas fa-chevron-down"></i></div>
                      </div>
                    </div>

                    <!-- Product Color -->
                    <ul class="product_color">
                      <li>
                        <span>Color: </span>
                        <div class="color_mark_container">
                          <div id="selected_color" class="color_mark"></div>
                        </div>
                        <div class="color_dropdown_button"><i class="fas fa-chevron-down"></i></div>

                        <ul class="color_list">
                          <li>
                            <div class="color_mark" style="background: #999999;"></div>
                          </li>
                          <li>
                            <div class="color_mark" style="background: #b19c83;"></div>
                          </li>
                          <li>
                            <div class="color_mark" style="background: #000000;"></div>
                          </li>
                        </ul>
                      </li>
                    </ul>

                  </div>

                  <div class="product_price">$2000</div>
                  <div class="button_container">
                    <button type="button" class="button cart_button">Add to Cart</button>
                    <div class="product_fav"><i class="fas fa-heart"></i></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Recently Viewed -->

    ${require('../layouts/recently.html')}

    <!-- Brands -->

    ${require('../layouts/brands.html')}

    <!-- Newsletter -->

    ${require('../layouts/newsletter.html')}

    <!-- Footer -->

    ${require('../layouts/footer.html')}

    <!-- Copyright -->

    ${require('../layouts/copyright.html')}
  </div>


  ${require('../layouts/include/script.html')}
  ${require('../layouts/include/script_plugins.html')}

</body>

</html>
