<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tài khoản của tôi</title>

  ${require('../layouts/include/meta.html')}
  ${require('../layouts/include/stylesheet.html')}

</head>

<body>

  ${require('../layouts/include/top_body.html')}

  <div class="super_container">

    <!-- Header -->

    ${require('../layouts/header.html')}

    <!-- Cart -->

    <div class="cart_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="cart_container">

              <!-- Section -->
              <div class="cart_title mb-4">Thông tin tài khoản</div>

              <!-- Row 2 side -->
              <div class="row">

                <!-- Side left -->
                <div class="col-md-3 text-center">

                  ${require('../layouts/formUploadAvatar.html')}

                </div>

                <!-- Side right -->
                <div class="col-md-9">

                  ${require('../layouts/formProfileInfo.html')}

                </div>
              </div>

              <!-- Section -->
              <div class="cart_title mt-3 mb-4">Thay đổi mật khẩu</div>

              ${require('../layouts/formChangePassword.html')}

              <!-- Section -->
              <div class="cart_title mt-3 mb-4">Quản lý đơn hàng</div>
              <table class="table" id="tbOrders">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">Mã đơn hàng</th>
                    <th scope="col">Thời gian đặt hàng</th>
                    <th scope="col">Địa điểm thanh toán</th>
                    <th scope="col">Phương thức thanh toán</th>
                    <th scope="col" class="text-right">Tổng giá đơn hàng</th>
                    <th scope="col" class="text-center">Trạng thái</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- render at profile.js -->
                </tbody>
              </table>
              <div class="text-center mt-5" id="emptyOrders">
                <h5>Hiện bạn chưa có đơn hàng nào</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Order Detail Modal -->

    ${require('../layouts/orderDetail.html')}

    <!-- Newsletter -->

    ${require('../layouts/newsletter.html')}

    <!-- Footer -->

    ${require('../layouts/footer.html')}

    <!-- Copyright -->

    ${require('../layouts/copyright.html')}
  </div>


  ${require('../layouts/include/script.html')}
  ${require('../layouts/include/script_plugins.html')}

</body>

</html>
