<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tài khoản của tôi</title>

  ${require('../layouts/include/meta.html')}
  ${require('../layouts/include/stylesheet.html')}

</head>

<body>

  ${require('../layouts/include/top_body.html')}

  <div class="super_container">

    <!-- Header -->

    ${require('../layouts/header.html')}

    <!-- Cart -->

    <div class="cart_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="cart_container">

              <!-- Section -->
              <div class="cart_title mb-4">Thông tin tài khoản</div>
              <form>
                <!-- Row -->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="email" class="col-form-label">Địa chỉ Email:</label>
                    <input type="email" class="form-control" id="email" disabled>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="firstName" class="col-form-label">Họ và tên đệm:</label>
                    <input type="text" class="form-control" id="firstName">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="lastName" class="col-form-label">Tên:</label>
                    <input type="text" class="form-control" id="lastName">
                  </div>
                </div>
                <!-- Row -->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="tel" class="col-form-label">Số điện thoại:</label>
                    <input type="text" class="form-control" id="tel">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="address" class="col-form-label">Địa chỉ liên hệ:</label>
                    <input type="text" class="form-control" id="address">
                  </div>
                </div>
                <div class="cart_buttons">
                  <button type="button" class="button cart_button_checkout" id="btnUpdateInfo">Cập nhật</button>
                </div>
              </form>

              <!-- Section -->
              <div class="cart_title mb-4">Thay đổi mật khẩu</div>
              <form>
                <!-- Row -->
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="oldPassword" class="col-form-label">Mật khẩu cũ:</label>
                    <input type="password" class="form-control" id="oldPassword">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="newPassword" class="col-form-label">Mật khẩu mới:</label>
                    <input type="password" class="form-control" id="newPassword">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="confirmNewPassword" class="col-form-label">Xác nhận mật khẩu:</label>
                    <input type="password" class="form-control" id="confirmNewPassword">
                  </div>
                </div>
                <div class="cart_buttons">
                  <button type="button" class="button cart_button_checkout" id="btnChangePassword">Thay đổi</button>
                </div>
              </form>

              <!-- Section -->
              <div class="cart_title mb-4">Quản lý đơn hàng</div>
              <table class="table" id="tbOrders">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">Mã đơn hàng</th>
                    <th scope="col">Thời gian đặt hàng</th>
                    <th scope="col">Địa điểm thanh toán</th>
                    <th scope="col">Phương thức thanh toán</th>
                    <th scope="col" class="text-right">Tổng giá đơn hàng</th>
                    <th scope="col" class="text-center">Trạng thái</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr> -->
                </tbody>
              </table>
              <div class="text-center mt-5" id="emptyOrders">
                <h5>Hiện bạn chưa có đơn hàng nào</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Order Detail -->

    ${require('../layouts/orderDetail.html')}

    <!-- Newsletter -->

    ${require('../layouts/newsletter.html')}

    <!-- Footer -->

    ${require('../layouts/footer.html')}

    <!-- Copyright -->

    ${require('../layouts/copyright.html')}
  </div>


  ${require('../layouts/include/script.html')}
  ${require('../layouts/include/script_plugins.html')}

</body>

</html>
