<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tìm kiếm sản phẩm</title>

  ${require('../layouts/include/meta.html')}
  ${require('../layouts/include/stylesheet.html')}
  ${require('../layouts/include/stylesheet_plugins.html')}

  <link rel="stylesheet" type="text/css" href="plugins/jquery-ui/jquery-ui.css">

</head>

<body>

  ${require('../layouts/include/top_body.html')}

  <div class="super_container">

    <!-- Header -->

    ${require('../layouts/header.html')}

    <!-- Home -->

    <div class="home">
      <div class="home_background parallax-window"
        data-parallax="scroll"
        data-image-src="images/shopping_background.png">
      </div>
      <div class="home_overlay"></div>
      <div class="home_content d-flex flex-column align-items-center justify-content-center">
        <h2 class="home_title">Mua thả gas, Không lo tăng giá</h2>
      </div>
    </div>

    <!-- Shop -->

    <div class="shop">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">

            <!-- Shop Sidebar -->

            ${require('../layouts/shop_sidebar.html')}

          </div>

          <div class="col-lg-9">

            <!-- Shop Content -->

            ${require('../layouts/shop_content.html')}

          </div>
        </div>
      </div>
    </div>

    <!-- Recently Viewed -->

    ${require('../layouts/recently.html')}


    <!-- Newsletter -->

    ${require('../layouts/newsletter.html')}

    <!-- Footer -->

    ${require('../layouts/footer.html')}

    <!-- Copyright -->

    ${require('../layouts/copyright.html')}
  </div>



  ${require('../layouts/include/script.html')}
  ${require('../layouts/include/script_plugins.html')}

  <script src="plugins/jquery-ui/jquery-ui.js"></script>
  <script src="plugins/Isotope/isotope.pkgd.min.js"></script>

</body>

</html>
