/*********************************
11. Adverts
*********************************/

.adverts {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.advert {
  width: 100%;
  height: 180px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.advert_content {
  padding-left: 30px;
}

.advert_subtitle {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 26px;
}

.advert_title a {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  &:hover {
    color: #0e8ce4;
  }
}

.advert_title_2 a {
  font-size: 18px;
  font-weight: 500;
  color: #0e8ce4;
  &:hover {
    opacity: 0.8;
  }
}

.advert_text {
  color: #828282;
  margin-top: 10px;
}

.advert_image {
  width: 178px;
  height: 100%;
  img {
    display: block;
    max-width: 100%;
  }
}
