/*********************************
4. Banner
*********************************/

.banner {
  width: 100%;
  padding-top: 68px;
  padding-bottom: 83px;
  overflow: hidden;
}

.banner_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner_content {
  z-index: 1;
}

.banner_text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.166;
  color: #7599b2;
  text-transform: uppercase;
  letter-spacing: 0.038em;
}

.banner_price {
  font-size: 30px;
  color: #df3b3b;
  margin-top: 87px;
  span {
    display: inline-block;
    position: relative;
    color: #7e8285;
    margin-right: 14px;
    &::after {
      display: block;
      position: absolute;
      top: 21px;
      left: 0;
      width: 100%;
      height: 2px;
      background: #8d8d8d;
      content: '';
    }
  }
}

.banner_product_name {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin-top: 8px;
}

.banner_button {
  margin-top: 42px;
}

.banner_product_image {
  position: absolute;
  top: -5px;
  right: -52px;
  z-index: 0;
}
