/*********************************
10. Hot Best Sellers
*********************************/

.best_sellers {
  padding-top: 56px;
  background: #eff6fa;
  padding-bottom: 50px;
  margin-top: -77px;
}

.bestsellers_panel {
  display: none;
  width: 100%;
  padding-top: 50px;
  &.active {
    display: block;
    padding-top: 50px;
  }
}

.bestsellers_slider {
  width: calc(100% + 30px);
  left: -15px;
  padding-bottom: 67px;
}

.bestsellers_item {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 25px;
}

.bestsellers_slider .slick-slide {
  > div:first-child {
    margin-bottom: 30px;
  }
  outline: none;
  margin: 0 15px;
}

.bestsellers_image {
  width: 115px;
  height: 115px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.bestsellers_content {
  padding-left: 25px;
}

.bestsellers_category a {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  &:hover {
    color: $color-primary;
  }
}

.bestsellers_name {
  margin-top: 2px;
  a {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    &:hover {
      color: $color-primary;
    }
  }
}

.bestsellers_rating {
  margin-top: 9px;
  i::before {
    font-size: 13px;
    margin-right: 8px;
  }
}

.bestsellers_price {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.bestsellers_item.discount .bestsellers_price {
  color: #df3b3b;
}

.bestsellers_price span {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 9px;
  &::after {
    display: block;
    position: absolute;
    left: -2px;
    top: 6px;
    width: calc(100% + 4px);
    height: 1px;
    background: #8d8d8d;
    z-index: 1;
    content: '';
  }
}

.bestsellers_fav {
  display: none;
  position: absolute;
  top: 30px;
  right: 29px;
  &.active {
    display: block;
  }
  i {
    font-size: 13px;
    color: #df3b3b;
  }
}

.bestsellers_marks {
  position: absolute;
  left: 18px;
  top: 18px;
}

.bestsellers_mark {
  display: none;
  width: 36px;
  height: 36px;
  font-size: 10px;
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
}

.bestsellers_discount {
  background: #df3b3b;
}

.bestsellers_item {
  &.discount .bestsellers_discount, &.is_new .bestsellers_new {
    display: block;
  }
}

.bestsellers_new {
  background: $color-primary;
}

.bestsellers_slider .slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  li {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    content: '';
    background: #e8e8e8;
    margin-right: 20px;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    &:hover, &.slick-active {
      background: $color-primary;
    }
    &:last-child {
      margin-right: 0px;
    }
    button {
      display: none;
    }
  }
}
