/*********************************
5. Characteristics
*********************************/

.characteristics {
  padding-top: 70px;
  padding-bottom: 70px;
}

.char_item {
  width: 100%;
  height: 100px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border: solid 1px #e8e8e8;
  padding-left: 36px;
}

.char_icon {
  margin-right: 24px;
}

.char_content {
  transform: translate(-1px, 3px);
}

.char_title {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.char_subtitle {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 3px;
}
