/*
6. Deals of the week
	6.1 Deals
	6.2 Featured
*/

/*********************************
6. Deals of the week
*********************************/

.deals_featured {
  width: 100%;
}

/*********************************
6.1 Deals
*********************************/

.deals {
  width: 36%;
  margin-right: 7%;
  padding-top: 85px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 35px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.deals_title {
  position: absolute;
  top: 27px;
  left: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.deals_slider_container {
  width: 100%;
}

.deals_item {
  width: 100% !important;
}

.deals_image {
  width: 100%;
  img {
    width: 100%;
  }
}

.deals_content {
  margin-top: 33px;
}

.deals_item_category a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.deals_item_price_a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.deals_item_name {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
}

.deals_item_price {
  font-size: 24px;
  font-weight: 500;
  color: #df3b3b;
}

.available {
  margin-top: 19px;
}

.available_title, .sold_title {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  span {
    font-weight: 700;
  }
}

.available_bar {
  width: 100%;
  height: 10px;
  background: #e8e8e8;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
    background: $color-primary;
  }
}

.deals_timer {
  margin-top: 30px;
}

.deals_timer_title {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.deals_timer_subtitle {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.deals_timer_content {
  padding-bottom: 17px;
}

.deals_timer_box {
  width: 173px;
  padding-left: 3px;
  padding-right: 3px;
  border: solid 1px #cccccc;
  border-radius: 5px;
  margin-right: 1px;
}

.deals_timer_unit {
  width: 33.33333333%;
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 2px;
  float: left;
  &:first-child::after, &:nth-child(2)::after {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    width: 1px;
    height: 25px;
    background: #e5e5e5;
    content: '';
  }
  span {
    position: absolute;
    display: block;
    bottom: -22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 8px;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
  }
}

.deals_slider_nav_container {
  position: absolute;
  top: 20px;
  right: 40px;
}

.deals_slider_nav {
  display: inline-block;
  cursor: pointer;
  i {
    font-size: 18px;
    padding: 10px;
    color: #666666;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  &:hover i {
    color: #000000;
  }
  &:active i {
    color: #df3b3b;
  }
}

.deals_slider_prev {
  margin-right: 4px;
}

/*********************************
6.2 Featured
*********************************/

.featured {
  width: 57%;
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -o-transform: translateY(60px);
  transform: translateY(60px);
}

.tabbed_container {
  width: 100%;
}

.tabs {
  width: 100%;
  ul li {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    float: left;
    margin-right: 53px;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
    &:last-child {
      margin-right: 0px;
    }
    &.active {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.tabs_line {
  width: 100%;
  height: 1px;
  background: #dadada;
  margin-top: 12px;
}

.tabs.tabs-right .tabs_line {
  margin-top: 39px;
}

.tabs_line span {
  position: absolute;
  top: -1px;
  left: 0;
  width: 80px;
  height: 2px;
  background: $color-primary;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.tabs.tabs-right ul {
  float: right;
}

.product_panel {
  display: none;
  margin-left: -60px;
  margin-right: -60px;
  &.active {
    display: block;
  }
}

.featured_slider {
  width: 100%;
  .slick-list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .slick-track {
    padding-bottom: 120px;
  }
}

.featured_slider_item {
  height: 263px;
  width: 25%;
}

.product_item {
  position: relative;
  left: -10px;
  width: calc(100% + 20px);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  background: #FFFFFF;
  cursor: pointer;
  padding-top: 40px;
  z-index: 0;
}

.slick-active .product_item:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.product_image {
  width: 100%;
  height: 115px;
  img {
    display: block;
    position: relative;
    max-width: 100%;
  }
}

.product_content {
  width: 100%;
}

.product_price {
  font-size: 16px;
  font-weight: 500;
  margin-top: 25px;
  &.discount {
    color: #df3b3b;
  }
  span {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 10px;
  }
}

.product_name {
  margin-top: 4px;
  overflow: hidden;
  div {
    width: 100%;
    a {
      font-size: 14px;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      -webkit-transition: all 200ms ease;
      -moz-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease;
      &:hover {
        color: $color-primary;
      }
    }
  }
}

.product_color {
  visibility: hidden;
  opacity: 0;
  margin-top: 19px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.product_extras {
  width: 100%;
  background: #FFFFFF;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 200ms ease;
  -moz-transition: max-height 200ms ease;
  -ms-transition: max-height 200ms ease;
  -o-transition: max-height 200ms ease;
  transition: max-height 200ms ease;
}

.slick-active .product_item:hover {
  .product_extras {
    max-height: 300px;
  }
  .product_color, .product_cart_button {
    visibility: visible;
    opacity: 1;
  }
}

.product_color input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 8px;
  &:checked::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'FontAwesome';
    content: '\f00c';
    color: #FFFFFF;
  }
}

.product_cart_button {
  position: relative;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 48px;
  background: $color-primary;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 19px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  &:hover {
    background: $color-primary-hover;
  }
}

.featured_slider {
  .slick-dots {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 100px;
  }
  .slick-slide {
    outline: none;
  }
  .slick-dots li {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    content: '';
    background: #e8e8e8;
    margin-right: 20px;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    &:hover, &.slick-active {
      background: $color-primary;
    }
    &:last-child {
      margin-right: 0px;
    }
    button {
      display: none;
    }
  }
}

.featured_slider_dots_cover {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 100px;
  width: 100px;
  height: 30px;
  background: #FFFFFF;
  z-index: 1;
  display: none;
}

.product_fav {
  position: absolute;
  top: 33px;
  right: 12px;
  width: 36px;
  height: 36px;
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  &:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  }
}

.product_item:hover .product_fav {
  top: 18px;
}

.product_fav {
  i {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #cccccc;
    line-height: 36px;
    pointer-events: none;
    z-index: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  &.active i {
    color: red;
  }
}

.product_item:hover .product_fav {
  visibility: visible;
  opacity: 1;
}

.product_marks {
  display: none;
  position: absolute;
  top: 33px;
  left: 30px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.slick-active .product_marks {
  display: block;
}

.product_item:hover .product_marks {
  top: 18px;
  left: 18px;
}

.product_mark {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  line-height: 36px;
  font-size: 12px;
}

.product_new {
  display: none;
  background: $color-primary;
  visibility: hidden;
  opacity: 0;
}

.product_discount {
  display: none;
  background: #df3b3b;
  visibility: hidden;
  opacity: 0;
}

.product_item {
  &.is_new .product_new, &.discount .product_discount {
    display: inline-block;
    visibility: visible;
    opacity: 1;
  }
}
