/*********************************
17. Footer
*********************************/

.footer {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: $color-dark;
  .logo_container {
    height: auto;
    margin-bottom: 18px;
    margin-top: -10px;
  }
  .logo {
    top: auto;
		//   transform: none;
		@include fontQuicksand;
    a {
      color: $color-light-2;
    }
  }
}

.footer_title {
  font-size: 14px;
  font-weight: 500;
  color: $color-light-2;
}

.footer_phone {
  font-size: 18px;
  font-weight: 500;
  color: $color-primary-light-2;
  margin-top: 13px;
}

.footer_contact_text {
  color: $color-light-2;
  margin-top: 10px;
  p {
		margin-bottom: 0px;
		a {
			border: none;
			text-decoration: none;
			background: transparent;
		}
		&:hover a {
			color: $color-primary-light-2;
		}
  }
}

.footer_social {
  margin-top: 27px;
  ul li {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: $color-gray-dark;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    margin-right: 16px;
    text-align: center;
    i {
      color: $color-light;
      line-height: 30px;
      -webkit-transition: all 200ms ease;
      -moz-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease;
    }
    &:hover {
			background: $color-primary-light;
    }
  }
}

.footer_subtitle {
  font-size: 12px;
  color: $color-light;
}

.footer_column ul {
  &:first-of-type {
    margin-top: 21px;
  }
  margin-top: 7px;
}

.footer_list li {
  margin-bottom: 6px;
  a {
    font-size: 12px;
    font-weight: 500;
    color: $color-light;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    &:hover {
      color: $color-primary-light-2;
    }
  }
}

.footer_list_2 {
  margin-top: 42px !important;
}

.copyright {
  width: 100%;
  background: #946a6a5c;
}

.copyright_container {
  width: 100%;
  height: 56px;
}

.copyright_content {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.842);
  span {
    font-weight: 500;
  }
}

.logos {}

.logos_list li {
  display: inline-block;
  margin-right: 16px;
  &:last-child {
    margin-right: 0px;
  }
}
