/*********************************
4. Home
*********************************/

.home {
  width: 100%;
	height: 300px;
	margin-top: -2px;
	background: transparent;
}

.home_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b5e1ff;
  background: linear-gradient(#FFFFFF, #b5e1ff);
  opacity: 0.9;
}

.home_content {
  width: 100%;
	height: 100%;
	h2 {
		@include fontQuicksand;
		font-weight: 900;
	}
}