#loading {
	display: none;
	position: fixed;
	top: 0px;left: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 999999;
	background-color: rgba(0, 0, 0, 0.6);
	#loader {
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
	}
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 96px;
  height: 96px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
