/*********************************
16. Newsletter
*********************************/

.newsletter {
  width: 100%;
  background: #fafafa;
  padding-top: 60px;
  padding-bottom: 60px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.newsletter_container {
  width: 100%;
}

.newsletter_title_container {
  width: 40%;
  padding-left: 95px;
}

.newsletter_icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.newsletter_title {
  font-size: 18px;
  color: #000000;
}

.newsletter_text p:last-child {
  color: $color-dark;
  margin-bottom: 0;
}

.newsletter_icon img {
  max-width: 100%;
}

.newsletter_content {
  width: 60%;
}

.newsletter_form {
  position: relative;
  width: 569px;
  float: left;
}

.newsletter_input {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  padding-left: 25px;
  font-size: 16px;
  outline: none;
  color: $color-primary;
  &:focus {
    border: solid 1px rgba(14, 140, 228, 0.3);
    box-shadow: 0px 1px 5px rgba(14, 140, 228, 0.3);
  }
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::input-placeholder {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
  }
}

.newsletter_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 153px;
  height: 50px;
  background: $color-primary;
  color: #FFFFFF;
  line-height: 50px;
  font-size: 18px;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.newsletter_unsubscribe_link {
  float: right;
  text-align: right;
  height: 50px;
  a {
    font-size: 10px;
    color: $color-primary;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 50px;
    &:hover {
      color: #0d82d3;
    }
  }
}