/*********************************
12. Trends
*********************************/

.trends {
  padding-top: 80px;
  padding-bottom: 80px;
}

.trends_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(203, 225, 238, 0.3);
}

.trends_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.trends_container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 40px;
}

.trends_title {
  padding-right: 50px;
}

.trends_text {
  margin-top: 17px;
  p:last-child {
    margin-bottom: 0px;
  }
}

.trends_slider_nav {
  margin-top: 27px;
}

.trends_nav {
  display: inline-block;
  width: 36px;
  height: 36px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-right: 16px;
  &:last-child {
    margin-right: 0px;
  }
  i {
    line-height: 36px;
    color: #e5e5e5;
    font-size: 18px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  &:hover i {
    color: #474747;
  }
}

.trends_item {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 25px;
}

.trends_image {
  width: 100%;
  height: 212px;
  img {
    width: auto !important;
    max-width: 100% !important;
  }
}

.trends_category a {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  &:hover {
    color: #0e8ce4;
  }
}

.trends_content {
  margin-top: 24px;
}

.trends_name {
  float: left;
  a {
    font-size: 16px;
    color: #000000;
    &:hover {
      color: #0e8ce4;
    }
  }
}

.trends_price {
  font-size: 16px;
  font-weight: 500;
  float: right;
}

.trends_fav {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 36px;
  height: 36px;
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  &:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  }
}

.trends_item:hover .trends_fav {
  visibility: visible;
  opacity: 1;
  top: 18px;
}

.trends_fav {
  i {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #cccccc;
    line-height: 36px;
    pointer-events: none;
    z-index: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  &.active i {
    color: red;
  }
}

.trends_item:hover .trends_fav {
  visibility: visible;
  opacity: 1;
}

.trends_marks {
  position: absolute;
  left: 18px;
  top: 18px;
}

.trends_mark {
  display: none;
  width: 36px;
  height: 36px;
  font-size: 10px;
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
}

.trends_discount {
  background: #df3b3b;
}

.trends_item {
  &.discount .trends_discount, &.is_new .trends_new {
    display: block;
  }
}

.trends_new {
  background: #0e8ce4;
}
