<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
          <div class="copyright_content">

            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved

          </div>
          <div class="logos ml-sm-auto">
            <!-- <img src="images/payment.png" alt="Payment" width="200"> -->
            <!-- <ul class="logos_list">
              <li><a href="#"><img src="images/logos_1.png" alt=""></a></li>
              <li><a href="#"><img src="images/logos_2.png" alt=""></a></li>
              <li><a href="#"><img src="images/logos_3.png" alt=""></a></li>
              <li><a href="#"><img src="images/logos_4.png" alt=""></a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
