<div class="deals_featured">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-lg-row flex-column align-items-center justify-content-start">

        <!-- Deals -->

        <div class="deals">
          <div class="deals_title">Giảm giá cực khủng</div>
          <div class="deals_slider_container">

            <!-- Deals Slider -->
            <div class="owl-carousel owl-theme deals_slider">

              <!-- Deals Item (3-5 products)-->
              <!-- template rendered at src/components/DealProduct.js -->

            </div>
          </div>

          <div class="deals_slider_nav_container">
            <div class="deals_slider_prev deals_slider_nav"><i class="fas fa-chevron-left ml-auto"></i></div>
            <div class="deals_slider_next deals_slider_nav"><i class="fas fa-chevron-right ml-auto"></i></div>
          </div>
        </div>

        <!-- Featured -->
        <div class="featured">
          <div class="tabbed_container">
            <div class="tabs">
              <ul class="clearfix">
                <li class="active">Bán chạy nhất</li>
                <li>Quà tặng hấp dẫn</li>
                <li>Giá cực tốt</li>
              </ul>
              <div class="tabs_line"><span></span></div>
            </div>

            <!-- Product Panel -->
            <!-- Bán chạy nhất -->
            <div class="product_panel panel active">
              <div class="featured_slider slider best-sell-products">

                <!-- Slider Item (>= 16 products) -->
                <!-- template rendered at src/components/ShortProduct.js -->

              </div>
              <div class="featured_slider_dots_cover"></div>
            </div>

            <!-- Product Panel -->
            <!-- Quà tặng hấp dẫn -->
            <div class="product_panel panel">
              <div class="featured_slider slider best-gift-products">

                <!-- Slider Item (>= 16 products) -->
                <!-- template rendered at src/components/ShortProduct.js -->

              </div>
              <div class="featured_slider_dots_cover"></div>
            </div>

            <!-- Product Panel -->
            <!-- Giá cực tốt -->
            <div class="product_panel panel">
              <div class="featured_slider slider best-price-products">

                <!-- Slider Item (>= 16 products) -->
                <!-- template rendered at src/components/ShortProduct.js -->

              </div>
              <div class="featured_slider_dots_cover"></div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
