<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 footer_col">
        <div class="footer_column footer_contact">
          <div class="logo_container">
            <div class="logo"><a href="#">Hands free</a></div>
          </div>
          <div class="footer_title">Gọi mua hàng: </div>
          <div class="footer_phone">1901 6482</div>
          <div class="footer_title">Khiếu nại, góp ý: </div>
          <div class="footer_phone">022 4645 4786</div>
          <div class="footer_title">Chi nhánh: </div>
          <div class="footer_contact_text">
            <p>36 Điện Biện Phủ, phường Dịch Vọng, quận Cầu Giấy, Hà Nội</p>
            <p>18/45 Cộng Hòa, phường 10, quận Tân Bình, TP.HCM</p>
          </div>
          <div class="footer_social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
              <li><a href="#"><i class="fab fa-google"></i></a></li>
              <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-2 offset-lg-2">
        <div class="footer_column">
          <div class="footer_title">Thông tin hỗ trợ</div>
          <ul class="footer_list">
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Thông tin công nghệ</a></li>
            <li><a href="#">Chính sách Bảo hành</a></li>
            <li><a href="#">Mua hàng từ xa</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="#">Mua hàng - thanh toán Online</a></li>
          </ul>
          
        </div>
      </div>

      <div class="col-lg-2">
        <div class="footer_column">
          <ul class="footer_list footer_list_2">
            <li><a href="#">Bán hàng doanh nghiệp</a></li>
            <li><a href="#">Kiểm tra bảo hành - sửa chữa</a></li>
            <li><a href="#">Quy định sao lưu dữ liệu</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
            <li><a href="#">Chính sách sử dụng</a></li>
            <li><a href="#">Mua hàng trả góp Online</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="footer_column">
          <div class="footer_title">Chăm sóc khách hàng</div>
          <ul class="footer_list">
            <li><a href="#">Tài khoản</a></li>
            <li><a href="#">Lịch sử giao dịch</a></li>
            <li><a href="#">Yêu thích</a></li>
            <li><a href="#">Dịch vụ</a></li>
            <li><a href="#">Đổi trả</a></li>
            <li><a href="#">Tư vấn trực tiếp</a></li>
            <li><a href="#">Bảo hành</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>
