<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 footer_col">
        <div class="footer_column footer_contact">
          <div class="logo_container">
            <div class="logo"><a href="index.html">
              Hands free
            </a></div>
          </div>
          <div class="footer_title">Gọi mua hàng: </div>
          <div class="footer_phone">1901 6482</div>
          <div class="footer_title">Khiếu nại, góp ý: </div>
          <div class="footer_phone">022 4645 4786</div>
          <div class="footer_title">Chi nhánh: </div>
          <div class="footer_contact_text">
            <p><a target="_blank" href="https://www.google.com/maps/place/36+%C4%90i%E1%BB%87n+Bi%C3%AAn+Ph%E1%BB%A7,+%C4%90i%E1%BB%87n+B%C3%A0n,+Ba+%C4%90%C3%ACnh,+H%C3%A0+N%E1%BB%99i/data=!4m2!3m1!1s0x3135aba3b2fe4821:0xec0b3539fee64690?sa=X&ved=2ahUKEwjFwrb9x4jeAhWTdd4KHfUgB1gQ8gEwAHoECAAQAQ">
              36 Điện Biện Phủ, phường Dịch Vọng, quận Cầu Giấy, Hà Nội
            </a></p>
            <p><a target="_blank" href="https://www.google.com/maps/place/18+C%E1%BB%99ng+H%C3%B2a,+Ph%C6%B0%E1%BB%9Dng+4,+T%C3%A2n+B%C3%ACnh,+H%E1%BB%93+Ch%C3%AD+Minh/@10.8009471,106.6585927,17z/data=!3m1!4b1!4m5!3m4!1s0x31752930929f157f:0x9657b57735ff09d!8m2!3d10.8009471!4d106.6607814">
              18 Cộng Hòa, phường 10, quận Tân Bình, TP.HCM
            </a></p>
          </div>
          <div class="footer_social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
              <li><a href="#"><i class="fab fa-google"></i></a></li>
              <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-2 offset-lg-2">
        <div class="footer_column">
          <div class="footer_title">Thông tin hỗ trợ</div>
          <ul class="footer_list">
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Thông tin công nghệ</a></li>
            <li><a href="#">Chính sách Bảo hành</a></li>
            <li><a href="#">Mua hàng từ xa</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="#">Mua hàng - thanh toán Online</a></li>
          </ul>

        </div>
      </div>

      <div class="col-lg-2">
        <div class="footer_column">
          <ul class="footer_list footer_list_2">
            <li><a href="#">Bán hàng doanh nghiệp</a></li>
            <li><a href="#">Kiểm tra bảo hành - sửa chữa</a></li>
            <li><a href="#">Quy định sao lưu dữ liệu</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
            <li><a href="#">Chính sách sử dụng</a></li>
            <li><a href="#">Mua hàng trả góp Online</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="footer_column">
          <div class="footer_title">Chăm sóc khách hàng</div>
          <ul class="footer_list">
            <li><a href="#">Tài khoản</a></li>
            <li><a href="#">Lịch sử giao dịch</a></li>
            <li><a href="#">Yêu thích</a></li>
            <li><a href="#">Dịch vụ</a></li>
            <li><a href="#">Đổi trả</a></li>
            <li><a href="#">Tư vấn trực tiếp</a></li>
            <li><a href="#">Bảo hành</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>
