<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email" class="col-form-label">Địa chỉ Email:</label>
      <input type="email" class="form-control" id="email" disabled>
    </div>
    <div class="form-group col-md-3">
      <label for="firstName" class="col-form-label">Họ và tên đệm:</label>
      <input type="text" class="form-control" id="firstName">
    </div>
    <div class="form-group col-md-3">
      <label for="lastName" class="col-form-label">Tên:</label>
      <input type="text" class="form-control" id="lastName">
    </div>
  </div>
  <!-- Row -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="tel" class="col-form-label">Số điện thoại:</label>
      <input type="text" class="form-control" id="tel">
    </div>
    <div class="form-group col-md-6">
      <label for="address" class="col-form-label">Địa chỉ liên hệ:</label>
      <input type="text" class="form-control" id="address">
    </div>
  </div>
  <!-- Row -->
  <div class="form-row mt-4">
    <div class="form-group col-md-8"></div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-red btn-block" id="btnUpdateInfo">Cập nhật thông tin</button>
    </div>
  </div>
</form>
