<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="oldPassword" class="col-form-label">Mật khẩu cũ:</label>
      <input type="password" class="form-control" id="oldPassword">
    </div>
    <div class="form-group col-md-3">
      <label for="newPassword" class="col-form-label">Mật khẩu mới:</label>
      <input type="password" class="form-control" id="newPassword">
    </div>
    <div class="form-group col-md-3">
      <label for="confirmNewPassword" class="col-form-label">Xác nhận mật khẩu:</label>
      <input type="password" class="form-control" id="confirmNewPassword">
    </div>
    <div class="form-group col-md-2 d-flex">
      <button type="button" class="btn btn-red btn-block align-self-end" id="btnChangePassword">Thay đổi</button>
    </div>
  </div>
</form>
