<header class="header">

  <!-- Top Bar -->

  <div class="top_bar">
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-row">
          <div class="top_bar_contact_item">
            <div class="top_bar_icon">
              <img src="images/phone.png" alt="">
            </div>
            096 606 2468
          </div>
          <div class="top_bar_contact_item">
            <div class="top_bar_icon">
              <img src="images/mail.png" alt=""></div>
              <a href="mailto:cskh@clickbuy.com.vn">cskh@clickbuy.com.vn</a>
          </div>
          <div class="top_bar_content ml-auto">
            <div class="top_bar_menu">
              <ul class="standard_dropdown top_bar_dropdown">
                <li>
                  <a href="#">
                    Hồ Chí Minh<i class="fas fa-chevron-down"></i>
                  </a>
                  <ul>
                    <li><a href="#">Hà Nội</a></li>
                    <li><a href="#">Đà Nẵng</a></li>
                    <li><a href="#">Hồ Chí Minh</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="top_bar_user">
              <div><a href="#"></a></div>
              <div><a href="#">Tuyển dụng</a></div>
              <div><a href="#">Liên hệ</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Main -->

  <div class="header_main">
    <div class="container">
      <div class="row">

        <!-- Logo -->
        <div class="col-lg-2 col-sm-3 col-3 order-1">
          <div class="logo_container">
            <div class="logo"><a href="#"><img src="images/Logo-hands-free.png" alt="logo"></a></div>
          </div>
        </div>

        <!-- Search -->
        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
          <div class="header_search">
            <div class="header_search_content">
              <div class="header_search_form_container">
                <form action="#" class="header_search_form clearfix">
                  <input type="search" required="required" class="header_search_input" placeholder="Tìm kiếm ...">
                  <div class="custom_dropdown">
                    <div class="custom_dropdown_list">
                      <span class="custom_dropdown_placeholder clc">Tất cả các hãng</span>
                      <i class="fas fa-chevron-down"></i>
                      <ul class="custom_list clc">
                        <li><a class="clc" href="#">Tất cả các hãng</a></li>
                        <li><a class="clc" href="#">Apple</a></li>
                        <li><a class="clc" href="#">Samsung</a></li>
                        <li><a class="clc" href="#">Xiaomi</a></li>
                        <li><a class="clc" href="#">Sony</a></li>
                        <li><a class="clc" href="#">OPPO</a></li>
                        <li><a class="clc" href="#">OPPO</a></li>
                        <li><a class="clc" href="#">Nokia</a></li>
                        <li><a class="clc" href="#">Huwei</a></li>
                      </ul>
                    </div>
                  </div>
                  <button type="submit" class="header_search_button trans_300" value="Submit"><img src="images/search.png"
                      alt=""></button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Wishlist -->
        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
          <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
            <div class="wishlist d-flex flex-row align-items-center justify-content-end">
              <div class="wishlist_icon"><img src="images/heart.png" alt=""></div>
              <div class="wishlist_content">
                <div class="wishlist_text"><a href="#">Yêu thích</a></div>
                <div class="wishlist_count">115</div>
              </div>
            </div>

            <!-- Cart -->
            <div class="cart">
              <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                <div class="cart_icon">
                  <img src="images/cart.png" alt="">
                  <div class="cart_count"><span>10</span></div>
                </div>
                <div class="cart_content">
                  <div class="cart_text"><a href="#">Giỏ hàng</a></div>
                  <div class="cart_price">$85</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Navigation -->

  <nav class="main_nav">
    <div class="container">
      <div class="row">
        <div class="col">

          <div class="main_nav_content d-flex flex-row">

            <!-- Categories Menu -->

            <div class="cat_menu_container">
              <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                <div class="cat_burger"><span></span><span></span><span></span></div>
                <div class="cat_menu_text">Hãng</div>
              </div>

              <ul class="cat_menu">
                <li class="hassubs">
                  <a href="#">Apple <i class="fas fa-chevron-right"></i></a>
                  <ul>
                    <li><a href="#">iPhone Xs<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">iPhone XS Max<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">iPhone XR<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">iPhone X<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">iPhone 8 | 8 plus<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">iPhone 7 | 7 plus<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">iPhone 6 | 6 plus<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">iPhone 5S<i class="fas fa-chevron-right"></i></a></li>
                  </ul>
                </li>
                <li class="hassubs">
                  <a href="#">Samsung <i class="fas fa-chevron-right"></i></a>
                  <ul>
                    <li><a href="#">Note 9<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Galaxy S9<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Galaxy Note 8<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Galaxy S8+<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Galaxy J8<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Galaxy J6<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Galaxy A8 | 6 plus<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Galaxy A7<i class="fas fa-chevron-right"></i></a></li>
                  </ul>
                </li>
                
                <li class="hassubs">
                  <a href="#">Xiaomi <i class="fas fa-chevron-right"></i></a>
                  <ul>
                    <li><a href="#">Mi Max 3<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Redmi Note 6 Pro<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Mi Mix 2<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Redmi Note 5<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Redmi Note 6<i class="fas fa-chevron-right"></i></a></li>
                  </ul>
                </li>

                <li class="hassubs">
                  <a href="#">Sony <i class="fas fa-chevron-right"></i></a>
                  <ul>
                    <li><a href="#">Xperia XA1 Plus<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Xperia XA2<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Xperia XA2 Ultra<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Xperia XZs<i class="fas fa-chevron-right"></i></a></li>
                  </ul>
                </li>
                <li class="hassubs">
                  <a href="#">OPPO <i class="fas fa-chevron-right"></i></a>
                  <ul>
                    <li><a href="#">OPPO F9<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">OPPO A3s<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">OPPO Find X<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">OPPO F7<i class="fas fa-chevron-right"></i></a></li>
                  </ul>
                </li>
                
                <li class="hassubs">
                  <a href="#">Nokia <i class="fas fa-chevron-right"></i></a>
                  <ul>
                    <li><a href="#">Nokia 6.1 Plus<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Nokia 5.1 Plus<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Nokia 8110<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Nokia 7 Plus<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Nokia 105(2017) 2 SIM<i class="fas fa-chevron-right"></i></a></li>
                  </ul>
                </li>

                <li class="hassubs">
                  <a href="#">Huwei <i class="fas fa-chevron-right"></i></a>
                  <ul>
                    <li><a href="#">Nova 3i<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Y9 2019<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Nova 3<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">Y6 Prime<i class="fas fa-chevron-right"></i></a></li>
                    <li><a href="#">P20 Pro<i class="fas fa-chevron-right"></i></a></li>
                  </ul>
                </li>

                <li><a href="#">Hãng khác<i class="fas fa-chevron-right"></i></a></li>

              </ul>
            </div>

            <!-- Main Nav Menu -->

            <div class="main_nav_menu ml-auto">
              <ul class="standard_dropdown main_nav_dropdown">
                <li><a href="index.html">Trang chủ<i class="fas fa-chevron-down"></i></a></li>
                <li class="hassubs">
                  <a href="#">Sản phẩm bán chạy<i class="fas fa-chevron-down"></i></a>
                  <ul>
                    <li><a href="#">Nokia 5.1 32GB<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">OPPO A71k<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Xiaomi Redmi S2 32 GB<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">OPPO A83 2018<i class="fas fa-chevron-down"></i></a></li>
                  </ul>
                </li>
                <li class="hassubs">
                  <a href="#">Hãng bán chạy<i class="fas fa-chevron-down"></i></a>
                  <ul>
                    <li>
                      <a href="#">Apple<i class="fas fa-chevron-down"></i></a>
                      <ul>
                        <li><a href="#">Samsung<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#">Xiaomi<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#">OPPO<i class="fas fa-chevron-down"></i></a></li>
                      </ul>
                    </li>
                    <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                  </ul>
                </li>
                <li class="hassubs">
                  <a href="#">Chuyển hướng<i class="fas fa-chevron-down"></i></a>
                  <ul>
                    <li><a href="shop.html">Mua hàng<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="product.html">Sản phẩm<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="blog.html">Bài viết<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="blog_single.html">Tin tức công nghệ<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="cart.html">Giỏ hàng<i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="contact.html">Liện hệ<i class="fas fa-chevron-down"></i></a></li>
                  </ul>
                </li>
                <li><a href="blog.html">Bài viết<i class="fas fa-chevron-down"></i></a></li>
                <li><a href="contact.html">Liện hệ<i class="fas fa-chevron-down"></i></a></li>
              </ul>
            </div>

            <!-- Menu Trigger -->

            <div class="menu_trigger_container ml-auto">
              <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                <div class="menu_burger">
                  <div class="menu_trigger_text">menu</div>
                  <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Menu -->

  <div class="page_menu">
    <div class="container">
      <div class="row">
        <div class="col">

          <div class="page_menu_content">

            <div class="page_menu_search">
              <form action="#">
                <input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
              </form>
            </div>
            <ul class="page_menu_nav">
              <li class="page_menu_item has-children">
                <a href="#">Language<i class="fa fa-angle-down"></i></a>
                <ul class="page_menu_selection">
                  <li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>
                </ul>
              </li>
              <li class="page_menu_item has-children">
                <a href="#">Currency<i class="fa fa-angle-down"></i></a>
                <ul class="page_menu_selection">
                  <li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
                </ul>
              </li>
              <li class="page_menu_item">
                <a href="index.html">Home<i class="fa fa-angle-down"></i></a>
              </li>
              <li class="page_menu_item has-children">
                <a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
                <ul class="page_menu_selection">
                  <li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>
                  <li class="page_menu_item has-children">
                    <a href="#">Menu Item<i class="fa fa-angle-down"></i></a>
                    <ul class="page_menu_selection">
                      <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                      <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                      <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                      <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                    </ul>
                  </li>
                  <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                </ul>
              </li>
              <li class="page_menu_item has-children">
                <a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>
                <ul class="page_menu_selection">
                  <li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                </ul>
              </li>
              <li class="page_menu_item has-children">
                <a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>
                <ul class="page_menu_selection">
                  <li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                  <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                </ul>
              </li>
              <li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>
              <li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
            </ul>

            <div class="menu_contact">
              <div class="menu_contact_item">
                <div class="menu_contact_icon"><img src="images/phone_white.png" alt=""></div>+38 068 005 3570
              </div>
              <div class="menu_contact_item">
                <div class="menu_contact_icon"><img src="images/mail_white.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
