<div class="new_arrivals">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="tabbed_container">
          <div class="tabs clearfix tabs-right">
            <div class="new_arrivals_title">Hot nhất trong tháng</div>
            <ul class="clearfix">
              <li class="active">Apple</li>
              <li>Samsung</li>
              <li>Xiaomi & OPPO</li>
            </ul>
            <div class="tabs_line"><span></span></div>
          </div>
          <div class="row">
            <div class="col-lg-9" style="z-index:1;">

            <!-- Product Panel -->
            <!-- Apple -->
            <div class="product_panel panel active">
              <div class="arrivals_slider slider hot-new-apple">

                <!-- Slider Item (>= 16 products) -->
                <!-- template rendered at src/components/ArrivalsSlider.js -->

              </div>
              <div class="arrivals_slider_dots_cover"></div>
            </div>

            <!-- Product Panel -->
            <!-- Samsung -->
            <div class="product_panel panel">
              <div class="arrivals_slider slider hot-new-samsung">

                <!-- Slider Item (>= 16 products) -->
                <!-- template rendered at src/components/ArrivalsSlider.js -->

              </div>
              <div class="arrivals_slider_dots_cover"></div>
            </div>

            <!-- Product Panel -->
            <!-- Xiaomi & OPPO -->
            <div class="product_panel panel">
              <div class="arrivals_slider slider hot-new-xiaomi-oppo">

                <!-- Slider Item (>= 16 products) -->
                <!-- template rendered at src/components/ArrivalsSlider.js -->

              </div>
              <div class="arrivals_slider_dots_cover"></div>
            </div>

            </div>

            <div class="col-lg-3">
              <div class="arrivals_single clearfix">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <div class="arrivals_single_image">
                    <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/sfaq/sfaq-iphone_2x.png" alt="">
                  </div>
                  <div class="arrivals_single_content">
                    <div class="arrivals_single_category"><a href="#">Apple</a></div>
                    <div class="arrivals_single_name_container clearfix">
                      <div class="arrivals_single_name"><a href="#">iPhone XS</a></div>
                      <div class="arrivals_single_price text-right">40,000,000 đ</div>
                    </div>
                    <div class="rating_r rating_r_4 arrivals_single_rating"><i></i><i></i><i></i><i></i><i></i></div>
                    <form action="#"><button class="arrivals_single_button">Thêm vào giỏ</button></form>
                  </div>
                  <div class="arrivals_single_fav product_fav active"><i class="fas fa-heart"></i></div>
                  <ul class="arrivals_single_marks product_marks">
                    <li class="arrivals_single_mark product_mark product_new">new</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
