<div class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
          <div class="newsletter_title_container">
            <div class="newsletter_icon"><img src="images/send.png" alt=""></div>
            <div class="newsletter_title">Đăng ký ngay</div>
            <div class="newsletter_text">
              <p>Để nhận những thông tin về sản phẩm nhanh nhất.</p>
            </div>
          </div>
          <div class="newsletter_content clearfix">
            <form action="#" class="newsletter_form">
              <input type="email" class="newsletter_input" required="required" placeholder="Nhập địa chỉ email ... ">
              <button class="newsletter_button">Đăng ký</button>
            </form>
            <div class="newsletter_unsubscribe_link"><a href="#">hủy đăng ký</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
