<!-- Shop Sidebar -->

<div class="shop_sidebar">

  <!-- Brands -->
  <div class="sidebar_section">
    <div class="sidebar_title">Hãng sản xuất</div>
    <ul class="sidebar_categories">

      <!-- render at src/components/ShopSidebar.js -->

      <!-- <li><a href="#">Apple</a></li> -->
      <!-- <li><a href="#">Samsung</a></li> -->

    </ul>
  </div>

  <!-- Filter -->
  <div class="sidebar_section filter_by_section">
    <div class="sidebar_title">Bộ lọc</div>
    <div class="sidebar_subtitle">Giá</div>
    <div class="filter_price">
      <div id="slider-range" class="slider_range"></div>
      <p>Khoảng: </p>
      <p><input type="text" id="amount" class="amount" readonly style="border:0; font-weight:bold;"></p>
    </div>
  </div>

  <!-- Colors -->
  <div class="sidebar_section">
    <div class="sidebar_subtitle color_subtitle">Màu</div>
    <ul class="colors_list">
      <li class="color"><a href="#" style="background: #b19c83;"></a></li>
      <li class="color"><a href="#" style="background: #000000;"></a></li>
      <li class="color"><a href="#" style="background: #999999;"></a></li>
      <li class="color"><a href="#" style="background: #0e8ce4;"></a></li>
      <li class="color"><a href="#" style="background: #df3b3b;"></a></li>
      <li class="color"><a href="#" style="background: #ffffff; border: solid 1px #e1e1e1;"></a></li>
    </ul>
  </div>

  <!-- Models -->
  <div class="sidebar_section">
    <div class="sidebar_subtitle brands_subtitle">Mẫu</div>
    <ul class="brands_list">

      <!-- render at src/components/ShopSidebar.js -->

      <!-- <li class="brand"><a href="#">Apple</a></li> -->
      <!-- <li class="brand"><a href="#">Beoplay</a></li> -->

    </ul>
  </div>

</div>
