<!-- Shop Sidebar -->

<div class="shop_sidebar">

  <!-- Keywords -->
  <div class="sidebar_section">
    <div class="sidebar_title">Từ khoá</div>
    <div class="form-group sidebar_keywords mt-4">
      <input type="text" class="form-control form-control-sm" placeholder="Nhập từ khoá...">
    </div>
  </div>

  <!-- Brands -->
  <div class="sidebar_section">
    <div class="sidebar_title mt-5">Hãng sản xuất</div>
    <ul class="sidebar_categories">

      <!-- render at src/components/ShopSidebar.js -->

      <!-- <li><a href="#">Apple</a></li> -->
      <!-- <li><a href="#">Samsung</a></li> -->

    </ul>
  </div>

  <!-- Filter -->
  <div class="sidebar_section filter_by_section">
    <div class="sidebar_title">Bộ lọc</div>
    <div class="sidebar_subtitle">Giá</div>
    <div class="filter_price">
      <div id="slider-range" class="slider_range"></div>
      <p>Khoảng: </p>
      <p><input type="text" id="amount" class="amount" readonly style="border:0; font-weight:bold;"></p>
    </div>
  </div>

  <!-- Colors -->
  <div class="sidebar_section">
    <div class="sidebar_subtitle color_subtitle">Màu</div>
    <ul class="colors_list">
      <li class="color"><a href="#" style="background: #b19c83;"></a></li>
      <li class="color"><a href="#" style="background: #000000;"></a></li>
      <li class="color"><a href="#" style="background: #999999;"></a></li>
      <li class="color"><a href="#" style="background: #0e8ce4;"></a></li>
      <li class="color"><a href="#" style="background: #df3b3b;"></a></li>
      <li class="color"><a href="#" style="background: #ffffff; border: solid 1px #e1e1e1;"></a></li>
    </ul>
  </div>

  <!-- Sortings -->
  <div class="sidebar_content">
    <div class="sidebar_title mt-5">Sắp xếp theo</div>
    <ul class="sidebar_sort_options mt-4">

      <!-- render at ShopSidebar.js -->

    </ul>
  </div>

  <div class="sidebar_section">
    <button class="btn btn-danger btn-sm btn-block mt-5">Tìm kiếm</button>
  </div>

  <!-- Models -->
  <!-- <div class="sidebar_section"> -->
    <!-- <div class="sidebar_subtitle brands_subtitle">Mẫu</div> -->
    <!-- <ul class="brands_list"> -->

      <!-- render at src/components/ShopSidebar.js -->

      <!-- <li class="brand"><a href="#">Apple</a></li> -->
      <!-- <li class="brand"><a href="#">Beoplay</a></li> -->

    <!-- </ul> -->
  <!-- </div> -->

</div>
