<!-- Shop Content -->

<div class="shop_content">
  <div class="shop_bar clearfix">
    <div class="shop_product_count"><span id="shop_product_count_value">154</span> sản phẩm</div>
    <div class="shop_sorting">
      <span>Sắp xếp nhanh</span>
      <ul>
        <li>
          <span class="sorting_text"><span>Bán chạy nhất</span><i class="fas fa-chevron-down"></i></span>
          <ul>
            <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>Bán chạy nhất</li>
            <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "price" }'>Giá tăng dần</li>
            <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "negPrice" }'>Giá giảm dần</li>
            <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>Tên</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>


  <!-- Product Grid View -->
  <div class="product_grid">
    <div class="product_grid_border"></div>
    <div class="product_grid_items">
      <!-- Product Item -->

      <!-- template at src/components/ShopSidebar.js -->
    </div>
  </div>

  <!-- Shop Page Navigation -->

  <div class="shop_page_nav d-flex flex-row">
    <div class="page_prev d-flex flex-column align-items-center justify-content-center">
      <i class="fas fa-chevron-left"></i>
    </div>
    <ul class="page_nav d-flex flex-row">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">...</a></li>
      <li><a href="#">21</a></li>
    </ul>
    <div class="page_next d-flex flex-column align-items-center justify-content-center">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>

</div>
