<div class="trends">
  <div class="trends_background" style="background-image:url(images/trends_background.jpg)"></div>
  <div class="trends_overlay"></div>
  <div class="container">
    <div class="row">

      <!-- Trends Content -->
      <div class="col-lg-3">
        <div class="trends_container">
          <h2 class="trends_title">Chính thức ra mắt</h2>
          <div class="trends_text">
            <p>Thu cũ đổi mới</p>
            <p>1 Đổi 1 Trong 30 Ngày</p>
            <p>Đặt trước - Nhận quà khủng</p>
          </div>
          <div class="trends_slider_nav">
            <div class="trends_prev trends_nav"><i class="fas fa-angle-left ml-auto"></i></div>
            <div class="trends_next trends_nav"><i class="fas fa-angle-right ml-auto"></i></div>
          </div>
        </div>
      </div>

      <!-- Trends Slider -->
      <div class="col-lg-9">
        <div class="trends_slider_container">

          <!-- Trends Slider -->

          <div class="owl-carousel owl-theme trends_slider">

            <!-- Trends Slider Item -->
            <!-- render at src/components/TrendSlider.js -->

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
